#tituloCardapio{
    text-align: center;
    padding: 30px;
    color: #fc7e7e;
}

table {
  margin: 0 4em;
  border-collapse: collapse;

  td {
    border: 1px solid gray;
  }
}

tfoot {
  text-align: center;
  td{
    padding: 2em;
  }
}

@for $x from 1 through 5 {
  .item-#{$x} {
    td {
      text-align: center;
      width: 25%
      ;
      img {
        width: 50%;
      }
    }
  }
}
